<a href="https://colab.research.google.com/github/woogwayeon/25HC_Python_Basic/blob/master/25HC_0320_python_ListType_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List 자료형 - 2
  
  임의로 순서가 필요한 경우가 있는데, 순서를 지정해줄 수 있다

  sort를 기본으로 쓰면 오름차순, 역으로 쓰면 reverse!

In [ ]:
a = [1,2,3]

None

In [ ]:
a.sort(reverse=True)

In [ ]:
a = ['a', 'b', 'c']
print(a.index('a'))

0

In [ ]:
a = ['a', 'a', 'c']
print(a.index('a')) # 처음 찾으면 중지함

0

In [ ]:
#insert
a.insert(1, 'b')
print(a)

['a', 'b', 'b', 'b', 'a', 'c']

In [ ]:
#remove
a.remove('b')
print(a)

['a', 'b', 'a', 'c']

In [ ]:
#extend
a = [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# append 는 원소 하나만!
a.append([6,7])
print(a)

[1, 2, 3, 4, 5, [6, 7]]

# 튜플 자료형
  순서가 중요하다 - 리스트하고 비슷하지만 요소거 1개라도 , 를 붙여야 한다

  괄호 ! 그냥괄호 () 이거로 묶어준다

  값을 유지해야 한다면 튜플! 순서가 다르면 어쩌구 개졸리다 진짜



  1. 리스트와 달리 한번 생성하면 추가, 삭제, 생성이 불가능하다! (Immutable) -> 즉 데이터를 변경하지 않아야 하는 경우에 사용한다

2.
리스트보다 메모리를 적게 쓰고 사용속도가 다름
불변성이 보장되므로 해시를 사용할 수 있다 (dic의 키로 쓸 수 있다)

3. 여러개의 값을 하나의 단위로 그룹화 가능
관련 데이터를 하나의 논리적 개체로 묶을 때 가능하다

4. 함수에서 여러 값을 반환할 때 유용하다 -> 여러 개의 결과를 한번에 반환하기 좋다
5. 데이터 안정성을 위한 사용 -> 기본 선언이나 상수선언시 쓴다

In [ ]:
# 튜플 자료형 (markdown 하려면 ctrl m + m)

a = 1,2,3
b = (1,2,3)
c = 3,2,1

print(a==b)
print(a==c)
print(c==b)

True
False
False

# Dictionary : 딕셔너리란?
- 대응 관계를 나타내는 자료형
- 연관 배열 또는 해시(중복되지 않는 키)
- 키와 벨류를 쌍으로 갖는 자료형
- 키값을 통해 벨류에 바로 접근함 (순차 x)

In [ ]:
# dictionary
a = {
      "name" : "seoyeon",
      "birth" : "0805",
      "phone" : "010-5244-0835"
    }

# muterble -> 한번 설정하고 값이나 뭐 바꿀 수 있다
print(a["name"])

a["addr"]="춘천"
print(a)

a["addr"]="seoul"
print(a) # key는 중복되지 않기 때문에 value 는 업데이트된다

# 삭제
del a["addr"]
print(a)

seoyeon
{'name': 'seoyeon', 'birth': '0805', 'phone': '010-5244-0835', 'addr': '춘천'}
{'name': 'seoyeon', 'birth': '0805', 'phone': '010-5244-0835', 'addr': 'seoul'}
{'name': 'seoyeon', 'birth': '0805', 'phone': '010-5244-0835'}

참고로 리스트는 값이 변할 수 있기 때문에 key로 쓸 수 없으나, value에는 아무 값이나 가능하다

### 오류 확인해보기

In [ ]:
# 리스트는 값이 바뀌어서 key로 쓸수없음
test={[1,2]:"hi"}
print(test)

TypeError: unhashable type: 'list'

In [ ]:
# 튜플은 바뀌지 않아서 key로 사용가능함
test={(1,2):"hi"}
print(test)

{(1, 2): 'hi'}

## 사전형(Dictionary)에 많이 쓰이는 함수들
- key 리스트 만들기 : keys

In [ ]:
# Key들을 List 자료형으로 변경
print(a.keys())
a_keys = a.keys()
a_keys = list(a.keys())
print(a.keys())
print(type(a.keys))

dict_keys(['name', 'birth', 'phone'])
dict_keys(['name', 'birth', 'phone'])
<class 'builtin_function_or_method'>

In [ ]:
for k in a.keys():
  print(k)
  print(a[k])
  print()

name
seoyeon

birth
0805

phone
010-5244-0835

In [ ]:
a.values()

dict_values(['seoyeon', '0805', '010-5244-0835'])

In [ ]:
# List로 변환
list(a.values())

['seoyeon', '0805', '010-5244-0835']

In [ ]:
# 깔끔하게 변환 -> key와 value가 tuple로 저장된다
a.items()

dict_items([('name', 'seoyeon'), ('birth', '0805'), ('phone', '010-5244-0835')])

In [ ]:
a_list = list(a.items())
print(a_list[0])
print(a_list[1])
print(a_list[2])

('name', 'seoyeon')
('birth', '0805')
('phone', '010-5244-0835')

In [ ]:
# 삭제하기
# a.clear()
a.keys()

dict_keys(['name', 'birth', 'phone'])

In [ ]:
'phone' in a

True

In [ ]:
'addr' in a

False

In [ ]:
b = [1,2,3,4,5]
3 in b
10 in b

False

In [ ]:
a['name']

'seoyeon'

In [ ]:
a.get('name')

'seoyeon'

In [ ]:
n = 'name'
a[n]

'seoyeon'

In [ ]:
a['addr']

KeyError: 'addr'

In [ ]:
print(a.get('addr'))

None

In [ ]:
a.get('addr', "키없음")

'키없음'

# 집합 (set)
교집합, 합집합, 차집합 등

In [ ]:
a = {1, 2, 3, 4} # 집합 쓸때는 띄어서 쓰자
type(a)

set

In [ ]:
a = "hello" # 문자열에서 집합만들기
s2 = set(a)
print(s2)

{'e', 'h', 'o', 'l'}

In [ ]:
# 리스트에서 집합 만들기
a_list = [1, 3, 6, 6, 4, 6, 3, 6, 7, 4, 6, 4, 5, 2, 3]
s3=set(a_list)
print(s3)
a_list2 = list(s3)
print(a_list2)

{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
a_tuple = 1, 2, 3
s3 = set(a_tuple)
print(s3)

{1, 2, 3}

## Set 연산 (집합의 연산)

In [ ]:
# 교집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2)

# 함수식으로 표현
s1.intersection(s2)

{4, 5, 6}

{4, 5, 6}

In [ ]:
# 합집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 | s2)

# 함수식으로
s1.union(s2) # unitied : 합치다 - 맨유 / uniberse (하나로 돌다! 그냥 그 유니버스)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 - s2) # s1의 고유한 값만 남길래
print(s2 - s1) # s2의 고유한 값만 남길래

{1, 2, 3}
{8, 9, 7}

In [ ]:
# 원소 추가
s1 =set([1,2,3])
# s1.add(4)
# s1.add([10, 20, 30]) -> 불가.. 여러개는 update라는 함수 사용한다
s1

TypeError: unhashable type: 'list'

In [ ]:
# update (여러개 추가)

s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [ ]:
# remove (값 삭제)
s1 = set([1, 2, 3])
s1.remove(1)
print(s1)

{2, 3}

# Bool 자료형
True / False -> 참과 거짓을 판단하는 자료형
비어있는 것은 다 거짓이다 참고로 전통을 따라 0은 False

In [ ]:
from sys import flags
a = True
b = flags

type(a)

bool

In [ ]:
print(1==1)
print(1<2)
print(1>2)

True
True
False

In [ ]:
# 복소수를 다루는 것 -> 숫자는 사람이 편리에 따라 만든 system!
# 복소수는 어떤 수를 제곱하면 양수가 되는데, 제곱했는데 음수가 되는 수가 있을수도 있자나여

print(bool(a))
print(bool(0))
print(bool(1))
print(bool(1)+bool(a))

True
False
True
2

## python 300제
https://wikidocs.net/book/922