# 리스트 자료형 (자료 저장 방식)

자료형의 집합을 표현하는 자료형으로, 대괄호 (```[]```)로 감싸고 각 요소의 값은 쉼표(```,```)로 **구분한다**

In [7]:
# List

a = [1,2,3,4,5,6,7]
b = []
c = ["Life", "is", "too", "short"]
d = [1,2,3, "Life"]
e = [1,2, ["Life",1,2]]

print(a[4])
print(e[2])
print(e[2][0])
print(e[2][0][0]) # 슬라이싱
print(e[2][0].upper()) # 슬라이싱

5
['Life', 1, 2]
Life
L
LIFE

In [16]:
# List 연산

l1 = [1,2,3]
l2= [4,5,6]

print(l1+l2) # 더하기
print(l1 * 3) # 곱하기
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3]

In [14]:
# 자료의 타입이 다르면 더하기 불가

print(str(a[0]) + "hi")
print(a + list("hi"))

1hi
[1, 2, 3, 4, 5, 6, 7, 'h', 'i']

In [15]:
# 길이 구하기

print(len(l1))

3

In [17]:
# 값 수정하기

l1[2] = 4
print(l1)

[1, 2, 4]

In [21]:
# 값 삭제하기

# del l2

In [22]:
# List 연산

print(l1[0] + l1[2])
print(l1[0] * l1[2])
print(l1[0] - l1[2])

5
4
-3

## List 함수

In [26]:
# append - 끝에 붙이다

a = [1,2,3]
a.append(4)

print(a) # 원본이 수정됨

a.append("hi")
print(a)

a.append([10,20,30]) # append는 무조건 한자리만 차지함
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 'hi']
[1, 2, 3, 4, 'hi', [10, 20, 30]]

In [31]:
# sort()

a = [1,4,2,8]
a.sort()

print(a) # 원본이 바뀜 (기본은 오름차순)

b = ['k','e','a','p']
b.sort()
print(b) # 아스키코드로 바뀌어서 알파벳도 가능

[1, 2, 4, 8]
['a', 'e', 'k', 'p']

In [35]:
# 뒤집기

a = list("helloworld")
print(a)

a.reverse()
print(a)
print(a[::-1])

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
['d', 'l', 'r', 'o', 'w', 'o', 'l', 'l', 'e', 'h']
['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [40]:
# Search

a = [1,2,3]
print(a.index(2)) # 미국에서 수 세는거 기억나지..! 그래서 두"번째"에 있는 친구 찾아옴

1

In [41]:
# 요소 삽입

a=[1,2,3]
a.insert(1,20) # 들어갈 최종 위치를 알려줌
print(a)

[1, 20, 2, 3]

In [43]:
# 요소 제거

a=list("hello")
a.remove('l') # 첫번째 만나는 값을 제거함
print(a)

['h', 'e', 'l', 'o']

In [45]:
# pop 함수

a=[1,2,3,4,5]
a.pop()

print(a)
a.pop()

print(a)
a.pop()

print(a)
a.pop()

print(a)
a.pop()

# 빈 상태에서 하면 Err 생김 > 맨 마지막에 온게 젤 먼저 나감(Last In First Out)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]

1

In [47]:
# Count - 카운트

a = list("helloworld")
print(a.count('o'))

2

In [48]:
# List Expend (확장)

a = [1,2,3]
a.extend([4,5,6])

print(a) # 이건 공간이 넓어진다 - 배열 크기가 커짐

[1, 2, 3, 4, 5, 6]