<a href="https://colab.research.google.com/github/woogwayeon/25HC_Python_Basic/blob/master/25HC_0403_python_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수
❤️ 특정 입력값을 주었을 때 특정 결과값을 리턴한다!
    함수를 사용하는 이유는 무엇일까!
    ---
    반복되는 부분이 있을 경우 "반복적으로 사용되는 가치있는 부분"
    을 한 뭉치로 묶어서 아래와 같이 작성하는것이 현명하다!!  






## 기본 함수 정의
❤️ 파이선은 def function name (argements) 형식

In [5]:
# 덧셈을 하는 함수

def add (a, b):
    return a + b

a = 3
b = 5
c = add(a, b)

print(c)

8

### 매개변수와 인자

❤️ 매개변수 (parameter)

❤️ 인자 (argument)

In [11]:
# function 호출 시 매개변수 지정 가능

def sub(a,b):
    return a-b

print(sub(a,b)) # 이름 없이 순서대로 넣기
print(sub(b,a)) # 반대로 넣으면 값이 반대로 들어감
print(sub(b=3, a=5))  # 함수 이름을 같이 적어주면 그 인자에 걔가 들어감

-2
2
2

## 자료형의 타입
❤️ 기본 자료형

    레거시(legacy) 코드라고 하면 유물코드.. 라고 한다
    ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
    즉 구닥다리라는 뜻
    파이선 2버전의 라이브러리는 레거시 코드라고 한다

파이선은 3.n.n ~ 이렇게 있는데, 두번째 n부터 바뀌면 호환이 안 될 수도 있다

In [15]:
# 기본 자료형

def square(x : int) -> int :
    return x * x

def say_hello(name: str) -> str :
    return (f"Hello, {name}")

def is_even(n: int) -> bool :
    return n%2 == 0

def area(x : int, y : int) -> int :
    return x*y


print(square(3))
print(square(3.2))
print(area(3,2))

9
10.240000000000002
6

In [ ]:
# 컬렉션 타입은 함수 정의할때 패키지를 가져오는거다

from typing import List, Dict, Tuple

def sum_list(numbers : List[int]) -> int:
    return sum(numbers)

def invert_dict(d: Dict[str, int]) -> Dict[int, str]:
    return {v: k for k, v in d.items()}

def get_condinates() -> Tuple[float, float]:
    return (37.5, 127.0)

In [17]:
# 입력값이 몇 개가 될 지 모르는 함수
def add_many(*arguments):
    result = 0;
    for i in arguments:
        result += i

    return result;

result = add_many(1,2,3)
print(result)

result1 = add_many(1,2,3,4,5,6,7,8,9,10)
print(result1)

6
55

In [20]:
# 여러 개의 입력받는 함수 만들기 > *argmanets 앞에 choice 매개변수 추가도 된다

def add_mul(choice, *arguments):

    if choice == "add" :

        result = 0

        for i in arguments:
            result += i

    elif choice == "mul" :

        result = 1

        for i in arguments:
            result = result * i

    return result

result = add_mul('add', 1,2,3,4,5)
print(result)

result1 = add_mul('mul', 1,2,3,4,5)
print(result1)

15
120

In [25]:
# 키워드 매개변수 keyword arguments > kwargs

def print_kwargs(**kwargs):
    print(kwargs)

a = {
    "name" : "seoyeon",
    "age" : 3,
    "gender" : "wonman"
}

In [26]:
# 함수의 리턴값 2개..(?)
def add_and_mul(a,b):
    return a+b, a*b

add, mul = add_and_mul(3,4)
print(add, mul)

7 12

In [35]:
def say_myself(name, age, man=True):  # 기본값이 있는 매개변수는 뒤에 둘 것
    print(f"my name : {name}")
    print(f"my age : {age}")
    if man :
        print("I'm man")
    else :
        print("I'm woman")
    return 0;

print(f"{say_myself('minux', 10)}\n")
print(f"{say_myself('seoyeon', 7, False)}")

my name : minux
my age : 10
I'm man
0

my name : seoyeon
my age : 7
I'm woman
0

### global variable, local variable

In [39]:
# 전역변수(  Global variable )와 지역변수(  Local variable )

a = 1
def vartest(a):
    a = a+1
    return a

print(vartest(a))
print(a)

2
1

In [57]:
# global 명령어 사용하기

a = 1

def vartest2():
    global a
    a = a + 1

vartest2()
vartest2()
print(a)

3

In [58]:
# lambda 예약어

### Lambda 예약어
포스트잇 같다고 생각하면 된다
일회용으로 쓰고 버리는 함수, 가벼운 정의!

함수를 한줄로 간단하게 정의할 수 있다!! > 이름없는 함수~~

In [61]:
# 람다식 사용하기

add_lamb = lambda a,b : a+b
result = add_lamb(20,60)
print(result)

80

In [62]:
# sorted라는 함수를 사용해서 람다 써보기
example = ['abc', 'bb', 'a', 'sfsfex']
char_leng = sorted(example, key = lambda example:len(example))
print(char_leng)

['a', 'bb', 'abc', 'sfsfex']

In [63]:
square = lambda var : var * var # 뭔 개소리임?
print(square(3))

9

In [64]:
# 함수를 인자로 활용
def apply(f, value):
    return( f(value) )

result = apply(lambda var : var + 10, 5)
print(result)

15

In [67]:
# 정렬 기준으로 사용

stu = [
    ("서연", 20),
    ("정근", 21),
    ("아인", 22)
]

stu.sort( key = lambda age : age[1], reverse=True)
print(stu)

[('아인', 22), ('정근', 21), ('서연', 20)]

In [73]:
# 사원, 대리, 과장, 부장, 사장 순서로 정렬하는 함수를 lambda 로 작성

mem = [
    ({"박지성" : "사원"}, 1),
    ({"이정재" : "대리"}, 2),
    ({"정우성" : "과장"}, 3),
    ({"이병헌" : "부장"}, 4),
    ({"김혜수" : "사장"}, 5),
]

mem.sort( key = lambda grade : grade[1], reverse=False )

print(mem)

[({'박지성': '사원'}, 1), ({'이정재': '대리'}, 2), ({'정우성': '과장'}, 3), ({'이병헌': '부장'}, 4), ({'김혜수': '사장'}, 5)]

In [89]:
# 직급 정의하고 가기

from typing import Dict

memb : Dict [ str, str ] = {
    "정우성" : "과장",
    "박지성" : "사원",
    "이정재" : "대리",
    "김혜수" : "사장",
    "이병헌" : "부장"
}

grade_odr = {
    "사원" : 1,
    "대리" : 2,
    "과장" : 3,
    "부장" : 4,
    "사장" : 5
}

# grade_odr = ['사원', '대리', '과장', '부장', '사장']

# lambda 를 사용한 정렬 // Key는 숫자로 제한된다!
sort_mbr = sorted( memb.items(), key = lambda odr : grade_odr[odr[1]] )

# 결과 출력
for name, grade in sort_mbr:
    print(f"{name} : {grade}")

박지성 : 사원
이정재 : 대리
정우성 : 과장
이병헌 : 부장
김혜수 : 사장

# 위키독스 300제 연습

https://wikidocs.net/23905

In [97]:
#201 "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def coin() :
    return "비트코인"
print(coin())

# 202 비트코인 10번 시작하기

for i in range(10):
    print(coin())

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [101]:
# 비트코인을 10번 출력하는 함수 만들기

def coin_10():
    for i in range(10):
        print("비트코인")

coin_10()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [106]:
# 215 하나의 문자를 입력받아 문자열 끝에
# ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def smile():
    inp_char = input()
    print(f"{inp_char} :D")

smile()

# 216 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

def smile1():
    inp_hello = input()
    print(f"{inp_hello} :D")

smile1()

나
나 :D
안녕하세요
안녕하세요 :D

In [110]:
# 217 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수정의

def up_price():
    inp_price = input()
    int_pri = int(inp_price)
    upper_price = int_pri*1.3
    print(f"상한가는 {int_pri + upper_price} 입니다")

up_price()

15
상한가는 34.5 입니다

In [111]:
# 218 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의

def mysum(a: int, b: int) -> int:
    return a+b

mysum(10,20)

30