<a href="https://colab.research.google.com/github/woogwayeon/25HC_Python_Basic/blob/master/25HC_0320_python_40_70.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 위키독스 파이선 기초 300제 (40-30)

1.   항목 추가
2.   항목 추가


https://wikidocs.net/7022

In [ ]:
# 문자열 인덱싱
letters = 'python'

print(letters[0], letters[2])

p t

In [ ]:
# 문자열 슬라이싱
license_plate = "24가 2210"
print(license_plate[4:])
print(license_plate[-4:])

2210
2210

In [ ]:
# 홀만 출력
string = "홀짝홀짝홀짝"
print(string[0::2])
print(string[1::2])

홀홀홀
짝짝짝

In [ ]:
# 문자열 슬라이싱
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
# 문자열 치환
phone_number = "010-1111-2222"
print(phone_number.replace('-'," "))

010 1111 2222

In [ ]:
# 문자열 다루기
url = "http://sharebook.kr"
print(url[-2:])

kr

In [ ]:
# 문자열은 immutable
lang = 'python'
lang[0] = 'P'
print(lang)

문자열은 immutable이라 오류난다!

TypeError: 'str' object does not support item assignment

In [ ]:
# replace 메서드 > 소문자 a를 대문자 A로 변경하세요
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [ ]:
# replace 메서드
string = 'abcd'
change = string.replace('b', 'B') # 변수에 저장해서 뽑아보자
string.replace() # 리턴값이 있음
print(change)

# aBcd

aBcd

In [ ]:
# 문자열 합치기
a = "3"
b = "4"
print(a + b)

# 실행결과 34

34

In [ ]:
# 문자열 곱하기
print("Hi" * 3)

# 실행결과 HiHiHi

HiHiHi

In [ ]:
# 문자열 곱하기 - 화면에 '-'를 80개 출력하세요
print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
# 문자열 곱하기
t1 = "python"
t2 = "java"
print((t1+ " " +t2+ " ")*4)

python java python java python java python java

In [ ]:
# 문자열 출력
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름 : %s 나이 : %d" %(name1, age1))
print("이름 : %s 나이 : %d" %(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [ ]:
# 문자열 출력 : 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요
print("이름 : {} 나이 : {}" .format(name1, age1))
print("이름 : {} 나이 : {}" .format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [ ]:
# 37 문자열 출력 : 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요
print(f"이름 : {name1} 나이: {age1}")
print(f"이름 : {name2} 나이: {age2}")

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [ ]:
# 38 컴마 제거하기 : 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환
stock = "5,969,782,550"

com = stock.replace(",","")
num = int(com)
print(num, type(num))

5969782550 <class 'int'>

In [ ]:
#39 문자열 슬라이싱
qurter = "2020/03(E) (IFRS연결)"
print(qurter[0:7])

2020/03

In [ ]:
# strip 메서드
data = "      삼성전자      "
print(data.replace(" ", ""))

삼성전자

In [ ]:
#41 upper 메서드
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [ ]:
# lower 메서드
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [ ]:
#043 capitalize 메서드 : 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요

cp = "hello"
cp.capitalize()

'Hello'

In [ ]:
#044 endswith 메서드 : 'xlsx'로 끝나는지 확인
file_name = "보고서.xlsx"
file_name[-4::]

'xlsx'

In [ ]:
#045 endswith 메서드 : 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인
file_name = "보고서.xlsx"
file_name2 = "보고서.xls"
file_name3 = "보고서.docs"

a = file_name.endswith(("xlsx", "xls"))
b = file_name2.endswith(("xlsx", "xls"))
c = file_name3.endswith(("xlsx", "xls"))

print(f"{a}, {b}, {c}")

True, True, False

In [ ]:
# 046 startswith 메서드 : 파일 이름이 '2020'로 시작하는지 확인
file_name = "2020_보고서.xlsx"
file_name2 = "2021_보고서.xlsx"
file_name3 = "2022_보고서.xlsx"

a = file_name.startswith('2020')
b = file_name2.startswith('2020')
c = file_name3.startswith('2020')
print(f"{a}, {b}, {c}")

True, False, False

In [ ]:
# 047 split 메서드 : 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요
a = "hello world"
a.split(" ")

['hello', 'world']

In [ ]:
# 048 split 메서드 : btc와 krw로
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [ ]:
# 049 split 메서드 : 연도, 월, 일로 나눠
date = "2020-05-01"
days = list(date.split("-"))
print(f"{days[0]}년 {days[1]}월 {days[2]}일")

2020년 05월 01일

In [ ]:
# 050 rstrip 메서드 : 문자열의 오른쪽에 공백이 있을 때 이를 제거
data = "039490     "
data.replace(" ", "")

'039490'

In [ ]:
# 051 리스트 생성 : 영화 제목을 movie_rank 이름의 리스트에 저장
movie = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie)

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
# 052 리스트에 원소 추가 : "배트맨"을 추가
movie.append("배트맨")
print(movie)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 053 : "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가
movie = ["닥터 스트레인지", "스플릿", "럭키"]
movie.insert(1,"슈퍼맨")
print(movie)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키']

In [ ]:
# 054 movie_rank 리스트에서 '럭키'를 삭제하라.

movie = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie.remove("럭키")
print(movie)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#055 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie.remove("스플릿")
movie.remove("배트맨")
print(movie)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 056 lang1 + lang2 langs 리스트를 만들어
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 057 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

7
1

In [ ]:
#058 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
#059 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = [
    "피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"
    ]
print(len(cook))

12

In [ ]:
#060 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [ ]:
# 061 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 062 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [ ]:
#063 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
# 064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# 065 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
print(f"{interest[0]} {interest[2]}")

삼성전자 Naver

In [ ]:
# 066 join 메서드 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
# 067 join 메서드 : interest 리스트에는 아래의 데이터가 바인딩

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
# 068 join 메서드

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 069 문자열 split 메서드 : 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장
string = "삼성전자/LG전자/Naver"
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 070 리스트 정렬 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)
data.reverse()
print(data)
data.sort(reverse=True)
print(data)

[1, 2, 3, 4, 5, 9, 10]
[10, 9, 5, 4, 3, 2, 1]
[10, 9, 5, 4, 3, 2, 1]

In [ ]:
# 071 my_variable 이름의 비어있는 튜플을 만들라

my_variable = ()
print(my_variable)

()

In [ ]:
# 072 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다
# 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
# 073 숫자 1 이 저장된 튜플을 생성하라.

num = (1)
print(num)

1

In [ ]:
# 074 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'

# Traceback (most recent call last):
  # File "<pyshell#46>", line 1, in <module>
    # t[0] = 'a'

# TypeError: 'tuple' object does not support item assignment


# 제가 생각한 이유는 튜플은 언뮤터블이기때문에 값을 변경할수 없다고 배웠습니다!
# 여기서 t[0] 자리에 'a'를 넣으려고 했기 때문에 오류가 난 것 같습니다

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 075 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다.
# t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4
print(type(t))

# tuple 은 괄호가 없어도 튜플이다(?) 따라서 데이터 타입은 튜플입니다!

<class 'int'>

In [ ]:
# 076 변수 t에는 아래와 같은 값이 저장되어 있다.
# 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')
t = 'A', 'B', 'C'
print(t)

('A', 'B', 'C')

In [ ]:
# 077 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
t_list = list(interest)
print(t_list)
print(type(t_list))

['삼성전자', 'LG전자', 'SK Hynix']
<class 'list'>

In [ ]:
# 078 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
l_tuple = tuple(interest)
print(l_tuple)
print(type(l_tuple))

('삼성전자', 'LG전자', 'SK Hynix')
<class 'tuple'>

In [ ]:
# 079 튜플 언팩킹 : 다음 코드의 실행 결과를 예상하라

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# 변수 'a' 에는 'apple', 변수'b' 에는 'banana',
# 변수'c'에는 'cake' 할당되어
# apple banana cake 가 출력될 것 같다

apple banana cake

In [ ]:
# 080 range 함수 : 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# 이건 모르겠습니다 ㅜㅜ ㅎㅎㅎㅎ