<a href="https://colab.research.google.com/github/woogwayeon/25HC_Python_Basic/blob/master/25HC_0327_python_conditional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어구문

  ❤️ 분기에 따라 프로그래밍의 흐름을 제어하는 문장 ( if, if-else if )

  ❤️ 실행하는 횟수를 제어하는 ( for, while 등 )이 있다

  python에서는 들여쓰기( indedntation )가 한 블럭이라고 생각하면 된다!

## if 문

In [1]:
# if (제어문)
money = True
if money:
   print("택시타자")
else :
    print("걸어가자")


x = 3
y = 3

if x > y :
    print("x가 y보다 크다")
else :
    print("x가 y보다 작다")

택시타자
x가 y보다 작다

In [2]:
from ast import Try
money = 3000

if money >= 3000 :
    print("Texi")
else :
    print("warking")

card = True
if card :
    print("택시타자")
else :
    print("걸어가자")

Texi
택시타자

### in, not in

특정 리스트 안에 어떤 동작이 있을 때 이 방법을 사용할 수 있다

In [4]:
# in / not in

print('j' in 'python')
print(1 not in [1,2,3])
print('a' in 'aloha')

False
False
True

조건 판단하는 부분에서 주머니에 돈이 있는지 판단하고 골라야 할 상황의 개수를 판단하다 (2^n-1) 해주면 된다

In [5]:
pocket = ['money', 'callphone']
card = True

if money in pocket:
    print("택시 타고 가도 된다")
else :
    if card :
        print("택시타고가라")
    else :
        print("걸어가라")

택시타고가라

In [7]:
# else if -> elif

pocket = ['paper', 'phone']
card = True

if 'money' in pocket :
    print("Texi")
elif card :
    print("texi")
else :
    print("walking")

# money 가 있는지 물어봐서 있으면 택시타고 아니면 또 물어봄 > 여기서 카드 있으면 택시, 아니면 걷기
# 한 세번 정도까지만 maximum이고 너무 많이 else if를 중첩시키는 것은 좋지 않다!
# swich - case 로 나열하는게 더 낫겠네요

texi

In [9]:
# 코드를 효율적으로 짜보자

score = 60;

if score >= 60:
    message = "success"
    print(message)
else :
    message = "faillure"
    print(message)


# 이 코드를 문장처럼 바꿔보자

message = "success" if score >= 60 else "faliure"
print(message)

success
success

### while
반복해서 문장을 수행해야 할 경우 while 문을 사용한다!

while 문을 사용할 때는 조건을 꼭 넣어줘야 한다 안그러면 조건이 true일때 while이 계속 도니까..

즉 주어진 조건이 들어올 때 까지 리스트를 반복함

In [14]:
# 10번 찍어 안넘어가는 나무 없다

treeHit = 0

while treeHit < 10 :

    treeHit += 1
    print(f"나무를 [ {treeHit} ] 번 찍었습니다\n")

    if treeHit == 10:
        print("나무가 찍혔습니다(?)ㅋㅋㅋㅋ")

나무를 [ 1 ] 번 찍었습니다

나무를 [ 2 ] 번 찍었습니다

나무를 [ 3 ] 번 찍었습니다

나무를 [ 4 ] 번 찍었습니다

나무를 [ 5 ] 번 찍었습니다

나무를 [ 6 ] 번 찍었습니다

나무를 [ 7 ] 번 찍었습니다

나무를 [ 8 ] 번 찍었습니다

나무를 [ 9 ] 번 찍었습니다

나무를 [ 10 ] 번 찍었습니다

나무가 찍혔습니다(?)ㅋㅋㅋㅋ

In [17]:
# 여러가지 선택지 중 하나를 선택해서 입력받기

prompt = """
    1. add
    2. del
    3. List
    4. Quit

    enter number :
        """

number = 0

while number != 4:
    print(prompt)
    number = int(input())

    1. add
    2. del
    3. List
    4. Quit

    enter number :

4

In [18]:
# break를 갖고 while문을 강제로 빠져나가기

coffee = 10
money = 300
while money :
    print("돈을 받았으니 커피를 하나 드립니당")
    coffee = coffee - 1
    print(f"남은 커피의 양은 [ {coffee} ]잔 입니다\n")

    if coffee == 0:
        print("sold-out\n")
        break

print("오늘 영업이 끝났습니다")

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 9 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 8 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 7 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 6 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 5 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 4 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 3 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 2 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 1 ]잔 입니다

돈을 받았으니 커피를 하나 드립니당
남은 커피의 양은 [ 0 ]잔 입니다

sold-out

오늘 영업이 끝났습니다

In [20]:
# while문의 맨 처음으로 돌아가기
a = 0

while a < 10 :

    a += 1

    if a % 2 == 0 :

        continue

    print(a)

1
3
5
7
9

## for 문

![스크린샷 2025-03-27 103407.png]()
리스트나 튜플, 문자열의 첫번째 요소부터 마지막 요소까지 차례대로 변수에 대입되어 실행된다!

파이선에서 for문은 이미 만들어진 것에서 반복문을 실행해야 한다

In [22]:
# for문

test_list = ['one', 'two', 'three']

for i in test_list:
    print(i)

one
two
three

In [27]:
# 튜플을 리스트에 담아서 사용하는 for

tuple_list = [(1,2), (3,4), (5,6)]

for i in tuple_list:
    print(i)

print("\n")

# 튜플의 특성을 이용해서 계산함
for (first, second) in tuple_list :
    print(first + second)

(1, 2)
(3, 4)
(5, 6)


3
7
11

In [36]:
# 학생의 시험점수로 합격점 판단하기

marks = [90, 25, 67, 45, 80]
number = 0

for mark in marks :
    number += 1
    if (mark >= 60) :
        print(f"[ {number} ] 학생은 합격이에요")
    else :
        print(f"[ {number} ] 학생은 불합격이에요")


# 한줄로 바꿔보자

print("\n변수 하나를 사용한 for문\n")
number = 0;

for mark in marks:
    number += 1
    result = "합격" if (mark >= 60) else "불합격"
    print(f"[ {number} ]학생은 [ {result} ] 입니다")

[ 1 ] 학생은 합격이에요
[ 2 ] 학생은 불합격이에요
[ 3 ] 학생은 합격이에요
[ 4 ] 학생은 불합격이에요
[ 5 ] 학생은 합격이에요

변수 하나를 사용한 for문

[ 1 ]학생은 [ 합격 ] 입니다
[ 2 ]학생은 [ 불합격 ] 입니다
[ 3 ]학생은 [ 합격 ] 입니다
[ 4 ]학생은 [ 불합격 ] 입니다
[ 5 ]학생은 [ 합격 ] 입니다

In [40]:
# range

a = range(10)
# 0-9까지의 목록이고 for 구문에서 쓸 수 있지만 그냥 쓰려면 자료형 타입 확정이 필요하다
print(a)

b = range(1, 11, 2)
print(list(b)) # 자료형 확정을 지어줌

range(0, 10)
[1, 3, 5, 7, 9]

In [42]:
# add라는 변수를 두고 range를 써봅시다!

add = 0
for i in range(1,11):
    add = add + i

print(add)

55

In [45]:
# 이중 for문을 이용한 구구단 찍기

for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end="\t")  # end = '' 여기 안에 끝날 때 할 문자열(?) 넣어줌 된다
    print('')

2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

### for 구문에 쓸 수 있는 주료 자료형들

    ❤️ 문자열 리스트, 슬라이싱해서 가능함
    ❤️ 튜플 자료형
    ❤️ 딕셔너리 자료형
    ❤️ set 자료형

    ➡️ iterater (다음 것을 호출, 즉 반복호출이 가능한가?)

### iterable

In [49]:
# enumerate : 인덱스와 값을 튜플로 변환함

a = "Hello"
for x, i in enumerate(list(a)):
    print(x, i)

print("")

test = list(enumerate(list(a)))
print(test)

0 H
1 e
2 l
3 l
4 o

[(0, 'H'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [50]:
# zip : 리스트 여러개를 주었을 때 가로로 잘라서 주는 거라고 생각하면 된다

stuNum = ['123', '456', '789']
stuName = ['서연', '아인', '정근']

stu = list(zip(stuNum, stuName))
print(stu)

[('123', '서연'), ('456', '아인'), ('789', '정근')]

In [58]:
# next

it = iter([1,2,3])

print(next(it))
print(next(it))
print(next(it))

1
2
3

    ❤️ iterable : 반복 가능한 객체로 list, str, dict, set ...
    ❤️ iterator : 실제로 값을 하나씩 꺼내는 객체 -> iter(list())의 결과

In [59]:
# python 은 객체지향 언어입니다

a = 1
print(type(a))

<class 'int'>